# Python cache
__pycache__/

# HuggingFace downloads
hf_download/

# Storyboard outputs
storyboard_outputs/

# SAM checkpoints
checkpoints/

# Qwen Image Edit 2509 DF11
DFloat11__Qwen-Image-Edit-2509-DF11/