
accelerate==1.6.0
git+https://github.com/huggingface/diffusers
transformers==4.52.2
gradio==5.23.0
sentencepiece==0.2.0
pillow==11.1.0
av==12.1.0
numpy==1.26.2
scipy==1.12.0
requests==2.31.0
torchsde==0.2.6

einops==0.8.1
opencv-contrib-python==4.11.0.86
safetensors==0.6.2


qwen-vl-utils[decord]==0.0.8

protobuf==4.25.3

segment-anything==1.0

#torchao==0.14.1  #如果要用Qwen-Image-Edit(非2509版本)降精度用的

gdown==5.2.0

dfloat11[cuda12]==0.5.0

# git+https://github.com/IDEA-Research/GroundingDINO.git
